.swiper-slide {
    transition: all 0.3s ease;
}
.swiper-slide {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
}
.swiper-slide img {
    transition: all 0.3s ease;
}
#fullscreen-menu {
    display: none;
}

#fullscreen-menu.flex {
    display: flex !important;
}
@media (max-width: 1023px) {
    .swiper-slide img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
